.searchInputWrapper {
  position: relative;
}

.searchInputWrapper input {
  width: 600px;
  height: 44px;
  border-radius: 3px;
  border: none;
  color: #000;
  padding-left: 44px;
  margin: 40px auto 20px;
}

.searchInputWrapper .fa-search {
  color: #767676;
  position: absolute;
  font-size: 20px;
  top: 53px;
  left: 10px;
}

.searchInputWrapper .fa-search:hover {
  color: #000;
}
