.searchInputWrapper {
  position: relative;
  input {
    width: 600px;
    height: 44px;
    border-radius: 3px;
    border: none;
    color: #000;
    padding-left: 44px;
    margin: 40px auto 20px;
  }
  .fa-search {
    color: #767676;
    position: absolute;
    font-size: 20px;
    top: 53px;
    left: 10px;
    &:hover {
      color: #000;
    }
  }
}

.photosWrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  /* use font-size 0 to remove the 4px spacing naturally caused by display:inline-block on the children    */
  font-size: 0;
  figure {
    display: inline-block;
    max-width: 25%;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}
