form {
  position: relative;
}
.searchInputWrapper {
  position: relative;
  input {
    width: 300px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #76767696;
    color: #000;
    padding-left: 44px;
    margin: 40px auto 0;
    &:focus-within {
      outline: none;
    }
  }
  .fa-search {
    color: #767676;
    position: absolute;
    font-size: 20px;
    top: 53px;
    left: 10px;
    &:hover {
      color: #000;
    }
  }

  @media only screen and (min-width: 768px) {
    input {
      width: 400px;
    }
  }
}
