.resultWrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.resultWrapper .pagination {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.resultWrapper .pagination li {
  margin: 10px;
}

.resultWrapper .pagination li a {
  color: black;
  cursor: pointer;
}

.resultWrapper .photosWrapper {
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
}

.resultWrapper .photos {
  columns: 1;
  column-gap: 0px;
}

.resultWrapper .photoWrapper {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.resultWrapper .photoWrapper,
.resultWrapper .photo {
  border-radius: 4px;
  overflow: hidden;
  width: 70vw;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .resultWrapper .photos {
    columns: 2;
  }
  .resultWrapper .photoWrapper,
  .resultWrapper .photo {
    width: 33vw;
  }
}

@media only screen and (min-width: 1024px) {
  .resultWrapper .photos {
    columns: 3;
  }
  .resultWrapper .photoWrapper,
  .resultWrapper .photo {
    width: 22vw;
  }
}
